# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Lampshade.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\PROGRAMING\C#\Core\Lamp Shade\Lampshade\.idea\.idea.Lampshade\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
